#technology {
  h1, p {
    color: $white;
  }
}

.home-technology-background {
  width: 100%;
  background-image: url(../assets/pictures/home-cover-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $gray-dark;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: auto;
    background-image: url(../assets/elements/tehnology-dots.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
  }
}
