#product-page {}

#product {
  .display-4 {
    letter-spacing: -1px;
  }

  .swiper {
    box-shadow:
      0 6.8px 1.6px -24px rgba(0, 0, 0, 0.027),
      0 13px 4.9px -24px rgba(0, 0, 0, 0.059),
      0 20.5px 10.5px -24px rgba(0, 0, 0, 0.091),
      0 31.3px 20px -24px rgba(0, 0, 0, 0.123),
      0 49.4px 37.1px -24px rgba(0, 0, 0, 0.151),
      0 100px 80px -24px rgba(0, 0, 0, 0.17);
  }

  .carousel-control-prev,
  .carousel-control-next {
    top: auto;
    bottom: 2rem;
  }

  .media {
    align-items: center !important;
  }
}

.product-cover-background {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  background-image: url(/build/assets/elements/product-element.svg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
}

.product-cover {
  align-items: center;
  padding-top: 8rem;
  padding-bottom: 3.75rem;
  justify-content: center;
}

.benefit-box {
  background-color: $primary;
  height: 100%;
  width: 100%;
  display: inline-block;
  margin-right: 1rem;
  padding: 0;
}

.benefit-box--container {
  position: initial;
  text-align: center;
  max-width: 100%;
  height: calc(30vh + 16px);
  background-color: white;
  margin: 0.5rem;
  padding: 2rem 1rem;
  box-shadow:
    0 1.3px 1.3px rgba(0, 0, 0, 0.043),
    0 5.7px 5.2px rgba(0, 0, 0, 0.058),
    0 11px 16px rgba(0, 0, 0, 0.09);

  h4 {
    margin-top: 2rem;
  }
}