		<!-- FOOTER -->
		<footer id="footer" class="container-fluid" style="background-color:#FFC82F">
			<div class="row align-items-center py-4">
				<div class="col-12 col-lg-2 text-center text-lg-left">
					<a href="{{root}}index.html" class="text-dark">
						<img src="{{root}}assets/logos/koracr.png" class="img-fluid" width="128px">
					</a>
				</div>
				<div class="col-12 col-lg-8 navbar-expand text-center weight-500">
					<div class="navbar-nav d-block d-lg-flex justify-content-center">
						<div class="nav-item"><a class="nav-link text-dark" href="{{root}}proizvodi/">Proizvodi</a></div>
						<div class="nav-item"><a class="nav-link text-dark" href="{{root}}onama/">O nama</a></div>
						<div class="nav-item"><a class="nav-link text-dark" href="{{root}}kontakt/">Kontakt</a></div>
					</div>
				</div>
				<div class="col-12 col-lg-2 d-none d-lg-block text-right">
					<a class="transparent-invert-link mr-1" href="https://www.facebook.com/KoracRdoo">
						<img src="{{root}}assets/glyphs/facebook-small.svg" width="16" />
					</a>
				</div>
				<div class="col-12 d-lg-none text-center"><a class="transparent-invert-link mx-1" href=""><img
							src="{{root}}assets/glyphs/instagram-small.svg" width="24" /></a><a class="transparent-invert-link mx-1"
						href=""><img src="{{root}}assets/glyphs/facebook-small.svg" width="24" /></a><a
						class="transparent-invert-link mx-1" href=""><img src="{{root}}assets/glyphs/twitter-small.svg"
							width="24" /></a><a class="transparent-invert-link mx-1" href=""><img
							src="{{root}}assets/glyphs/pinterest-small.svg" width="24" /></a></div>
			</div>
			<div class="row pb-3">
				<div class="col-12 text-center small"><span class="text-muted mr-1">&copy; 2020 KoracR. All right
						reserved.</span><a class="d-block d-lg-inline text-muted mx-1" href="https://wearenicey.com"><span>Web Solution by Nicey Agency</span></a></div>
			</div>
		</footer>
		<!-- FOOTER END -->