		<!-- FOOTER -->
		<footer id="footer" class="container-fluid">
			<div class="row align-items-center py-4">
				<div class="col-12 col-lg-2 text-center text-lg-left">
					<a href="{{root}}index.html" class="text-dark">
						<h2 class="m-0 p-0">KoraćR</h2>
					</a>
				</div>
				<div class="col-12 col-lg-8 navbar-expand text-center weight-500">
					<div class="navbar-nav d-block d-lg-flex justify-content-center">
						<div class="nav-item"><a class="nav-link text-dark" href="">O nama</a></div>
						<div class="nav-item dropup">
							<a class="nav-link text-dark dropdown-toggle" href="{{root}}proizvodi.html" id="proizvodi-dropdown"
								data-toggle="dropdown">Proizvodi</a>
							<div class="dropdown-menu" aria-labelledby="proizvodi-dropdown">
								<a class="dropdown-item" href="">Action 1</a>
								<a class="dropdown-item" href="">Action 2</a>
								<a class="dropdown-item" href="">Action 3</a>
							</div>
						</div>
						<div class="nav-item"><a class="nav-link text-dark" href="">Kontakt</a></div>
					</div>
				</div>
				<div class="col-12 col-lg-2 d-none d-lg-block text-right"><a class="transparent-invert-link mr-1" href=""><img
							src="{{root}}assets/glyphs/instagram-small.svg" width="16" /></a><a class="transparent-invert-link mr-1"
						href=""><img src="{{root}}assets/glyphs/facebook-small.svg" width="16" /></a><a
						class="transparent-invert-link mr-1" href=""><img src="{{root}}assets/glyphs/twitter-small.svg"
							width="16" /></a><a class="transparent-invert-link mr-1" href=""><img
							src="{{root}}assets/glyphs/pinterest-small.svg" width="16" /></a></div>
				<div class="col-12 d-lg-none text-center"><a class="transparent-invert-link mx-1" href=""><img
							src="{{root}}assets/glyphs/instagram-small.svg" width="24" /></a><a class="transparent-invert-link mx-1"
						href=""><img src="{{root}}assets/glyphs/facebook-small.svg" width="24" /></a><a
						class="transparent-invert-link mx-1" href=""><img src="{{root}}assets/glyphs/twitter-small.svg"
							width="24" /></a><a class="transparent-invert-link mx-1" href=""><img
							src="{{root}}assets/glyphs/pinterest-small.svg" width="24" /></a></div>
			</div>
			<div class="row pb-3">
				<div class="col-12 text-center small"><span class="text-muted mr-1">&copy; 2020 KoracR. All right
						reserved.</span><a class="d-block d-lg-inline text-muted mx-1" href=""><span>Privacy Policy</span></a><a
						class="d-block d-lg-inline text-muted mx-1" href=""><span>Terms of Service</span></a></div>
			</div>
		</footer>
		<!-- FOOTER END -->