		<!--HEADER-->
		<header id="header" class="navbar navbar-expand-xs">
			<div class="col-4">
				<a href="{{root}}index.html" class="text-dark">
					<h2 class="m-0 p-0">KoracR</h2>
				</a>
			</div>
			<div class="col col-lg-4 px-0">
				<div class="nav-item text-right text-lg-center">
					<a class="navbar-toggler pl-0" href="" data-id="header-up-toggle">
						<img src="{{root}}assets/glyphs/burger.svg" /></a>
				</div>
			</div>

			<div class="col-4 d-none d-lg-flex justify-content-end align-items-center weight-500 d-none d-lg-block">
				<div class="navbar-nav flex-row">
					<div class="nav-item"><a class="nav-link text-dark" href="{{root}}onama.html">O nama</a></div>
					<div class="nav-item dropdown">
						<a class="nav-link text-dark dropdown-toggle" href="{{root}}proizvodi.html" id="proizvodi-dropdown"
							data-toggle="dropdown">Proizvodi</a>
						<div class="dropdown-menu" aria-labelledby="proizvodi-dropdown">
							<a class="dropdown-item" href="">Action 1</a>
							<a class="dropdown-item" href="">Action 2</a>
							<a class="dropdown-item" href="">Action 3</a>
						</div>
					</div>
					<div class="nav-item"><a class="nav-link text-dark" href="{{root}}kontakt.html">Kontakt</a></div>
				</div>
			</div>
		</header>

		<div class="navbar-up" id="header-up" data-id="header-up-close">
			<div class="navbar navbar-up-content navbar-expand-xs">
				<div class="col-4">
					<h2 class="m-0 p-0">KoracR</h2>
				</div>
				<div class="col col-lg-4">
					<div class="nav-item text-right text-md-center">
						<a class="navbar-up-close" href="" data-id="header-up-close">
							<img src="{{root}}assets/glyphs/close.svg" width="24" />
						</a>
					</div>
				</div>
				<div class="col-4 text-right weight-500 d-none d-lg-block">
					<a href="mailto:381650000000" class="text-dark"><img src="{{root}}assets/glyphs/phone.svg" width="16" />
						+381 65 3899 700</a>
				</div>
				<hr class="w-100">
				<div class="container-fluid p-2 p-md-4">
					<div class="col-12 col-md-6 nav-products">
						<h4 class="font-weight-bold">Proizvodi</h4>
						<div class="row justify-content-start">
							<div class="col-12 col-md-5">
								<ul class="nav flex-column">
									<li class="nav-item">
										<a class="nav-link active" href="{{root}}">Štampane selotep trake</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{root}}">Selotep trake</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{root}}">Papirna traka</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{root}}">Krep trake</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{root}}">Obostrano lepljive trake</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{root}}">Trake za obelezavanje</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{root}}">Protiv klizne trake</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{root}}">Duct tape</a>
									</li>
								</ul>
							</div>
							<div class="col-12 col-md-5">
								<ul class="nav flex-column">
									<li class="nav-item">
										<a class="nav-link" href="{{root}}">Trake za teske terete</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{root}}">Aluminijumske trake</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{root}}">Stampana folija</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{root}}">Strec folija</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{root}}">Flic podloske</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{root}}">Trake za nastavljanje</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{root}}">Dispenzeri</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-3 nav-products">
						<h4 class="font-weight-bold">O nama</h4>
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link active" href="{{root}}">Rad u kompaniji</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{root}}">Tehnologija</a>
							</li>
						</ul>
					</div>
					<div class="col-12 col-md-3 nav-products">
						<h4 class="font-weight-bold">Kontakt</h4>
						<ul class="nav flex-column">
							<li class="nav-item">
								<a class="nav-link active" href="{{root}}">Kako do nas</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{root}}">Kontakt forma</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!--HEADER - end-->