<!--HEADER-->
<nav>
	<div id="header" class="header navbar navbar-expand-xs">
		<div class="col pl-0 ml-0">
			<a href="{{root}}" class="">
				<img src="{{root}}assets/logos/koracr.png" class="img-fluid logo">
			</a>
		</div>

		<div class="menu-burger col d-block d-lg-none">
			<div class="nav-item text-right text-lg-center">
				<a class="navbar-toggler pl-0" href="" data-id="header-right-toggle">
					<span class="icon icon-burgerNormal"></span></a>
			</div>
		</div>

		<div class="navbar-nav flex-row justify-content-end d-none d-lg-flex">
			<div class="nav-item mr-2"><a class="nav-link text-white" href="{{root}}proizvodi/">Proizvodi</a></div>
			<div class="nav-item mr-2"><a class="nav-link text-white" href="{{root}}onama/">O nama</a></div>
			<div class="nav-item mr-4"><a class="nav-link text-white" href="tel:0604457211">📞 060 445 7211</a></div>
			<div class="nav-item"><a class="btn btn-primary mt-0 px-2" href="{{root}}kontakt/">✉ Kontaktirajte nas</a></div>
		</div>
	</div>

	<div class="navbar-right d-lg-none" id="header-right">
		<div class="navbar-right-content d-flex flex-column justify-content-between">
			<div class="mobile-menu"><a class="navbar-right-close mb-4" href="" data-id="header-right-close"><img
							src="{{root}}assets/glyphs/close.svg" width="32"/></a>
				<div class="navbar-nav">
					<div class="nav-item"><a class="nav-link text-dark" href="{{root}}">Pocetna</a></div>
					<div class="nav-item"><a class="nav-link text-dark" href="{{root}}onama/">O nama</a></div>
					<div class="nav-item"><a class="nav-link text-dark" href="{{root}}proizvodi/">Proizvodi</a></div>
					<div class="nav-item"><a class="nav-link text-dark" href="{{root}}kontakt/">Kontakt</a></div>
				</div>
			</div>
			<div>
				<p class="mb-3">
					<a class="transparent-invert-link ml-2" href="https://www.facebook.com/KoracRdoo">
						<img src="{{root}}assets/glyphs/facebook.svg" alt="Korac R Facebook" width="16"/></a>
				</p>
				<p class="small mb-0"><span class="d-block d-xl-inline text-muted mb-1 mb-xl-0 mr-2">&copy; 2020 KoracR. All right reserved.</span><a
								class="text-muted mr-2" href="https://wearenicey.com"><span>Design & Developed by Nicey</span></a></p>
			</div>
		</div>
		<div class="navbar-right-content weight-700"><a class="navbar-right-close mb-4" href=""
																										data-id="headers-2-sidebar-close"><img
						src="{{root}}assets/glyphs/close.svg" width="32"/></a></div>
	</div>
</nav>
<!--HEADER - end-->
