		<!--HEADER-->
		<header id="header" class="header navbar navbar-expand-xs">
			<div class="col pl-0 ml-0">
				<a href="{{root}}" class="">
					<img src="{{root}}assets/logos/koracr.png" class="img-fluid" width="140px">
				</a>
			</div>


			<div class="menu-burger col d-block d-lg-none">
				<div class="nav-item text-right text-lg-center">
					<a class="navbar-toggler pl-0" href="" data-id="header-right-toggle">
						<img src="{{root}}assets/glyphs/burger.svg" /></a>
				</div>
			</div>

			<div class="col justify-content-end align-items-center weight-700 d-none d-lg-flex">
				<div class="navbar-nav flex-row">
					<div class="nav-item"><a class="nav-link text-white" href="{{root}}proizvodi/">Proizvodi</a></div>
					<div class="nav-item"><a class="nav-link text-white" href="{{root}}onama/">O nama</a></div>
					<div class="nav-item"><a class="btn btn-primary mt-0 px-2" href="{{root}}kontakt/">✉ Kontaktirajte nas</a></div>
					<div class="nav-item text-right text-lg-center ml-4">
						<a class="navbar-toggler pl-0" href="" data-id="header-up-toggle">
							<img src="{{root}}assets/glyphs/burger.svg" /></a>
					</div>
				</div>
			</div>
		</header>

		<div class="navbar-up d-none d-sm-block" id="header-up">
			<div class="navbar navbar-up-content navbar-expand-xs">
				<div class="col-4">
					<img src="{{root}}assets/logos/koracr.png" class="img-fluid" width="140px">
				</div>
				<div class="col-4 text-center weight-500 d-none d-lg-block">
					<a href="tel:0604457211" class="text-dark"><img src="{{root}}assets/glyphs/phone.svg" width="16"/>
						060 445 7211</a>
				</div>
				<div class="col col-lg-4">
					<div class="nav-item text-right">
						<a class="navbar-up-close" href="" data-id="header-up-close">
							<img src="{{root}}assets/glyphs/close.svg" width="24" />
						</a>
					</div>
				</div>
				<hr class="w-100">
				<div class="container-fluid p-md-0 p-lg-4">
					<div class="col-12 nav-products">
						<div class="media">
							<img src="{{root}}assets/glyphs/products.svg" class="mr-3" alt="...">
							<div class="media-body">
								<a href="{{root}}onama/">
									<p class="font-weight-bold h3">Proizvodi</p>
								</a>
								<div class="row justify-content-center">
									<div class="col-12 col-md-4">
										<ul class="nav flex-column">
											<li class="nav-item">
												<p class="nav-link font-weight-bold mb-1">Štampane selotejp trake</p>
											</li>
											<li class="nav-item pl-1">
												<a class="nav-link" href="{{root}}proizvodi/stampane-selotejp-trake/solventne-selotejp-trake.html">Solventne selotejp trake</a>
											</li>
											<li class="nav-item pl-1">
												<a class="nav-link" href="{{root}}proizvodi/stampane-selotejp-trake/akrilne-selotejp-trake.html">Akrilne selotejp trake</a>
											</li>
											<li class="nav-item pl-1">
												<a class="nav-link" href="{{root}}proizvodi/stampane-selotejp-trake/low-noise-selotejp-trake.html">Low noise selotejp trake</a>
											</li>
											<li class="nav-item pl-1">
												<a class="nav-link" href="{{root}}proizvodi/stampane-selotejp-trake/papirne-selotejp-trake.html">Papirne selotejp trake</a>
											</li>
											<li class="nav-item pl-1">
												<a class="nav-link" href="{{root}}proizvodi/stampane-selotejp-trake/pvc-selotejp-trake.html">PVC selotejp trake</a>
											</li>

											<li class="nav-item mt-2">
												<p class="nav-link font-weight-bold mb-1">Selotejp trake</p>
											</li>
											<li class="nav-item pl-1">
												<a class="nav-link" href="{{root}}proizvodi/selotejp-trake/solventne-selotejp-trake.html">Solventne selotejp trake</a>
											</li>
											<li class="nav-item pl-1">
												<a class="nav-link" href="{{root}}proizvodi/selotejp-trake/akrilne-selotejp-trake.html">Akrilne selotejp trake</a>
											</li>
											<li class="nav-item pl-1">
												<a class="nav-link" href="{{root}}proizvodi/selotejp-trake/low-noise-selotejp-trake.html">Low noise selotejp trake</a>
											</li>
											<li class="nav-item pl-1">
												<a class="nav-link" href="{{root}}proizvodi/selotejp-trake/masinske-selotejp-trake.html">Mašinske selotejp trake</a>
											</li>
											<li class="nav-item pl-1">
												<a class="nav-link" href="{{root}}proizvodi/selotejp-trake/pvc-selotejp-trake.html">PVC selotejp trake</a>
											</li>
										</ul>
									</div>
									<div class="col-12 col-md-4">
										<ul class="nav flex-column">
											<li class="nav-item">
												<a class="nav-link font-weight-bold" href="{{root}}proizvodi/papirne-trake.html">Papirne trake</a>
											</li>
											<li class="nav-item">
												<a class="nav-link font-weight-bold" href="{{root}}proizvodi/krep-trake.html">Krep trake</a>
											</li>

											<li class="nav-item">
												<p class="nav-link font-weight-bold mb-1">Obostrano lepljive trake</p>
											</li>
											<li class="nav-item pl-1">
												<a class="nav-link" href="{{root}}proizvodi/obostrano-lepljive-trake/gda.html">GDA</a>
											</li>
											<li class="nav-item pl-1">
												<a class="nav-link" href="{{root}}proizvodi/obostrano-lepljive-trake/rda.html">RDA</a>
											</li>
											<li class="nav-item pl-1">
												<a class="nav-link" href="{{root}}proizvodi/obostrano-lepljive-trake/bele-sundjeraste-5464.html">Bele sundjeraste 5464</a>
											</li>
											<li class="nav-item pl-1">
												<a class="nav-link" href="{{root}}proizvodi/obostrano-lepljive-trake/crne-sundjeraste-9733.html">Crne sundjeraste 9733</a>
											</li>
											<li class="nav-item pl-1">
												<a class="nav-link" href="{{root}}proizvodi/obostrano-lepljive-trake/silikonske-transparentne-1160.html">Silikonske transparentne 1160</a>
											</li>
											<li class="nav-item pl-1">
												<a class="nav-link" href="{{root}}proizvodi/obostrano-lepljive-trake/trake-profil-770.html">Trake profil 770</a>
											</li>
											<li class="nav-item pl-1">
												<a class="nav-link" href="{{root}}proizvodi/obostrano-lepljive-trake/eurographic.html">Eurographic</a>
											</li>
										</ul>
									</div>
									<div class="col-12 col-md-4">
										<ul class="nav flex-column">
											<li class="nav-item">
												<a class="nav-link font-weight-bold" href="{{root}}proizvodi/trake-za-obelezavanje.html">Trake za obelezavanje</a>
											</li>

											<li class="nav-item">
												<p class="nav-link font-weight-bold mb-1">Protivklizne trake</p>
											</li>
											<li class="nav-item pl-1">
												<a class="nav-link" href="{{root}}proizvodi/protivklizne-trake/stepenista.html">Stepeništa</a>
											</li>
											<li class="nav-item pl-1">
												<a class="nav-link" href="{{root}}proizvodi/protivklizne-trake/bazeni-i-camci.html">Bazeni i čamci</a>
											</li>

											<li class="nav-item mt-2">
												<a class="nav-link font-weight-bold" href="{{root}}proizvodi/duct-trake.html">Duct trake</a>
											</li>
											<li class="nav-item">
												<a class="nav-link font-weight-bold" href="{{root}}proizvodi/trake-za-teske-terete.html">Trake za teške terete</a>
											</li>
											<li class="nav-item">
												<a class="nav-link font-weight-bold" href="{{root}}proizvodi/aluminijumske-trake.html">Aluminijumske trake</a>
											</li>
											<li class="nav-item">
												<a class="nav-link font-weight-bold" href="{{root}}proizvodi/stampane-folije.html">Štampane folije</a>
											</li>
											<li class="nav-item">
												<a class="nav-link font-weight-bold" href="{{root}}proizvodi/strec-folije.html">Streč folije</a>
											</li>
											<li class="nav-item">
												<a class="nav-link font-weight-bold" href="{{root}}proizvodi/flic-podloske.html">Flic podloške</a>
											</li>
											<li class="nav-item">
												<a class="nav-link font-weight-bold" href="{{root}}proizvodi/trake-za-nastavljanje.html">Trake za nastavljanje</a>
											</li>
											<li class="nav-item">
												<a class="nav-link font-weight-bold" href="{{root}}proizvodi/dispenzeri.html">Dispenzeri</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="navbar-right d-sm-none" id="header-right">
			<div class="navbar-right-content d-flex flex-column justify-content-between">
				<div class="mobile-menu"><a class="navbar-right-close mb-4" href="" data-id="header-right-close"><img src="{{root}}assets/glyphs/close.svg" width="32" /></a>
					<div class="navbar-nav">
						<div class="nav-item"><a class="nav-link text-dark" href="{{root}}">Pocetna</a></div>
						<div class="nav-item"><a class="nav-link text-dark" href="{{root}}onama/">O nama</a></div>
						<div class="nav-item"><a class="nav-link text-dark" href="{{root}}proizvodi/">Proizvodi</a></div>
						<div class="nav-item"><a class="nav-link text-dark" href="{{root}}kontakt/">Kontakt</a></div>
					</div>
				</div>
				<div>
					<p class="mb-3"><a class="transparent-invert-link" href=""><img src="{{root}}assets/glyphs/instagram-small.svg" width="16" /></a><a class="transparent-invert-link ml-2" href=""><img src="{{root}}assets/glyphs/facebook-small.svg" width="16" /></a><a class="transparent-invert-link ml-2" href=""><img src="{{root}}assets/glyphs/twitter-small.svg" width="16" /></a><a class="transparent-invert-link ml-2" href=""><img src="{{root}}assets/glyphs/pinterest-small.svg" width="16" /></a><a class="transparent-invert-link ml-2" href=""><img src="{{root}}assets/glyphs/thumbler-small.svg" width="16" /></a></p>
					<p class="small mb-0"><span class="d-block d-xl-inline text-muted mb-1 mb-xl-0 mr-2">&copy; 2020 KoracR. All right reserved.</span><a class="text-muted mr-2" href=""><span>Privacy Policy</span></a><a class="text-muted" href=""><span>Terms of Service</span></a></p>
				</div>
			</div>
			<div class="navbar-right-content weight-700"><a class="navbar-right-close mb-4" href="" data-id="headers-2-sidebar-close"><img src="{{root}}assets/glyphs/close.svg" width="32" /></a></div>
		</div>
		<!--HEADER - end-->
