		<!--HEADER-->
		<header id="header" class="navbar navbar-expand-xs">
			<div class="col pl-0 ml-0">
				<a href="{{root}}" class="">
					<h2 class="m-0 p-0 text-dark">KoraćR</h2>
				</a>
			</div>
			<div class="menu-burger col d-none d-sm-block">
				<div class="nav-item text-right text-lg-center">
					<a class="navbar-toggler pl-0" href="" data-id="header-up-toggle">
						<img src="{{root}}assets/glyphs/burger-dark.svg" /></a>
				</div>
			</div>

			<div class="menu-burger col d-sm-none">
				<div class="nav-item text-right text-lg-center">
					<a class="navbar-toggler pl-0" href="" data-id="header-right-toggle">
						<img src="{{root}}assets/glyphs/burger-dark.svg" /></a>
				</div>
			</div>

			<div class="col-lg-4 justify-content-end align-items-center weight-500 d-none d-lg-flex">
				<div class="navbar-nav flex-row">
					<div class="nav-item"><a class="nav-link text-dark" href="{{root}}onama/">O nama</a></div>
					<div class="nav-item dropdown">
						<a class="nav-link dropdown-toggle text-dark" href="#" id="proizvodi-dropdown"
							data-toggle="dropdown">Proizvodi</a>
						<div class="dropdown-menu" aria-labelledby="proizvodi-dropdown">
							<a class="dropdown-item" href="{{root}}proizvodi/aluminijumske-trake.html">Aluminijmuske trake</a>
							<a class="dropdown-item" href="{{root}}proizvodi/duct-trake.html">Duct trake</a>
							<a class="dropdown-item" href="{{root}}proizvodi/filc-podloske.html">Filc podloške</a>
							<a class="dropdown-item" href="{{root}}proizvodi/krep-trake.html">Krep trake</a>
							<a class="dropdown-item" href="{{root}}proizvodi/papirne-trake.html">Papirne trake</a>
							<a class="dropdown-item" href="{{root}}proizvodi/stampane-folije.html">Štampane folije</a>
							<a class="dropdown-item" href="{{root}}proizvodi/strec-folije.html">Streč folije</a>
							<a class="dropdown-item" href="{{root}}proizvodi/trake-za-nastavljanje.html">Trake za nastavljanje</a>
							<a class="dropdown-item" href="{{root}}proizvodi/trake-za-obelezavanje.html">Trake za obeležavanje</a>
							<a class="dropdown-item" href="{{root}}proizvodi/trake-za-teske-terete.html">Trake za teške terete</a>
							<a class="dropdown-item" href="{{root}}proizvodi/dispenzeri.html">Dispenzeri</a>

							<a class="dropdown-submenu">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
									aria-expanded="false"> <span class="dropdown-item">Obostrano lepljive trake</span>
								</a>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item"
											href="{{root}}proizvodi/obostrano-lepljive-trake/bele-sundjeraste-5464.html">Bele sunđeraste
											5646</a></li>
									<li><a class="dropdown-item"
											href="{{root}}proizvodi/obostrano-lepljive-trake/crne-sundjeraste-9733.html">Crne sunđeraste
											9733</a></li>
									<li><a class="dropdown-item"
											href="{{root}}proizvodi/obostrano-lepljive-trake/eurographic.html">Eurographic</a></li>
									<li><a class="dropdown-item" href="{{root}}proizvodi/obostrano-lepljive-trake/gda.html">GDA</a></li>
									<li><a class="dropdown-item" href="{{root}}proizvodi/obostrano-lepljive-trake/rda.html">RDA</a></li>
									<li><a class="dropdown-item"
											href="{{root}}proizvodi/obostrano-lepljive-trake/silikonske-transparentne-1160.html">Silikonske
											transparentne</a></li>
									<li><a class="dropdown-item"
											href="{{root}}proizvodi/obostrano-lepljive-trake/trake-profil-770.html">Trake profil 770</a></li>
								</ul>
							</a>
						</div>
					</div>
					<div class="nav-item"><a class="btn btn-dark mt-0 px-2" href="{{root}}kontakt/">📞 Kontaktirajte nas</a></div>
				</div>
			</div>
		</header>

		<div class="navbar-up d-none d-sm-block" id="header-up" data-id="header-up-close">
			<div class="navbar navbar-up-content navbar-expand-xs">
				<div class="col-4">
					<p class="h2 m-0 p-0">KoraćR</p>
				</div>
				<div class="col col-lg-4">
					<div class="nav-item text-right text-lg-center">
						<a class="navbar-up-close" href="" data-id="header-up-close">
							<img src="{{root}}assets/glyphs/close.svg" width="24" />
						</a>
					</div>
				</div>
				<div class="col-4 text-right weight-500 d-none d-lg-block">
					<a href="mailto:381650000000" class="text-dark"><img src="{{root}}assets/glyphs/phone.svg" width="16" />
						+381 65 3899 700</a>
				</div>
				<hr class="w-100">
				<div class="container-fluid p-md-0 p-lg-4">
					<div class="col-12 col-md-6 nav-products">
						<div class="media">
							<img src="{{root}}assets/glyphs/products.svg" class="mr-3" alt="...">
							<div class="media-body">
								<p class="font-weight-bold h3">Proizvodi</p>
								<div class="row justify-content-start">
									<div class="col-12 col-md-5">
										<ul class="nav flex-column">
											<li class="nav-item">
												<a class="nav-link active" href="{{root}}">Štampane selotejp trake</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="{{root}}">Selotejp trake</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="{{root}}proizvodi/papirne-trake.html">Papirna traka</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="{{root}}proizvodi/krep-trake.html">Krep trake</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="{{root}}">Obostrano lepljive trake</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="{{root}}proizvodi/trake-za-obelezavanje.html">Trake za obeležavanje</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="{{root}}">Protiv klizne trake</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="{{root}}proizvodi/duct-trake.html">Duct tape</a>
											</li>
										</ul>
									</div>
									<div class="col-12 col-md-5">
										<ul class="nav flex-column">
											<li class="nav-item">
												<a class="nav-link" href="{{root}}proizvodi/trake-za-teske-terete.html">Trake za teške terete</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="{{root}}proizvodi/aluminijumske-trake.html">Aluminijumske trake</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="{{root}}proizvodi/stampane-folije.html">Štampana folija</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="{{root}}proizvodi/strec-folije.html">Streč folija</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="{{root}}proizvodi/filc-podloske.html">Flic podloške</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="{{root}}proizvodi/trake-za-nastavljanje.html">Trake za nastavljanje</a>
											</li>
											<li class="nav-item">
												<a class="nav-link" href="{{root}}proizvodi/dispenzeri.html">Dispenzeri</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-3 nav-products">

						<div class="media">
							<img src="{{root}}assets/glyphs/about.svg" class="mr-3" alt="...">
							<div class="media-body">
								<p class="font-weight-bold h3">O nama</p>
								<ul class="nav flex-column">
									<li class="nav-item">
										<a class="nav-link" href="{{root}}">Rad u kompaniji</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{root}}">Tehnologija</a>
									</li>
								</ul>
							</div>
						</div>

					</div>
					<div class="col-12 col-md-3 nav-products">

						<div class="media">
							<img src="{{root}}assets/glyphs/contact.svg" class="mr-3" alt="...">
							<div class="media-body">
								<p class="font-weight-bold h3">Kontakt</p>
								<ul class="nav flex-column">
									<li class="nav-item">
										<a class="nav-link active" href="{{root}}">Kako do nas</a>
									</li>
									<li class="nav-item">
										<a class="nav-link" href="{{root}}">Kontaktirajte nas</a>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>

		<div class="navbar-right d-sm-none" id="header-right" data-id="header-right-close">
			<div class="navbar-right-content d-flex flex-column justify-content-between">
				<div class="mobile-menu"><a class="navbar-right-close mb-4" href="" data-id="header-right-close"><img
							src="./assets/glyphs/close.svg" width="32" /></a>
					<div class="navbar-nav">
						<div class="nav-item"><a class="nav-link text-dark"
								href="{{root}}proizvodi/aluminijumske-trake.html">Aluminijmuske trake</a></div>
						<div class="nav-item"><a class="nav-link text-dark" href="{{root}}proizvodi/duct-trake.html">Duct trake</a>
						</div>
						<div class="nav-item"><a class="nav-link text-dark" href="{{root}}proizvodi/filc-podloske.html">Filc
								podloške</a></div>
						<div class="nav-item"><a class="nav-link text-dark"
								href="{{root}}proizvodi/krep-trake.html">Krep trake</a></div>
						<div class="nav-item"><a class="nav-link text-dark" href="{{root}}proizvodi/papirne-trake.html">Papirne trake</a>
						</div>
						<div class="nav-item"><a class="nav-link text-dark" href="{{root}}proizvodi/stampane-folije.html">Štampane folije</a></div>
						<div class="nav-item"><a class="nav-link text-dark"
								href="{{root}}proizvodi/strec-folije.html">Streč folije</a></div>
						<div class="nav-item"><a class="nav-link text-dark" href="{{root}}proizvodi/trake-za-nastavljanje.html">Trake za nastavljanje</a>
						</div>
						<div class="nav-item"><a class="nav-link text-dark" href="{{root}}proizvodi/trake-za-obelezavanje.html">Trake za nastavljanje</a></div>
						<div class="nav-item"><a class="nav-link text-dark" href="{{root}}proizvodi/trake-za-teske-terete.html">Trake za teške terete</a>
						</div>
						<div class="nav-item"><a class="nav-link text-dark" href="{{root}}proizvodi/dispenzeri.html">Dispenzeri</a></div>
						<div class="nav-item dropdown"><a class="nav-link text-dark dropdown-toggle" href="" id="headers-1-dropdown"
								data-toggle="dropdown">Dispenzeri</a>

							<div class="dropdown-menu" aria-labelledby="headers-1-dropdown">
								<a class="dropdown-item" href="{{root}}proizvodi/obostrano-lepljive-trake/bele-sundjeraste-5464.html">Bele sunđeraste 5646</a>
									<a class="dropdown-item" href="{{root}}proizvodi/obostrano-lepljive-trake/crne-sundjeraste-9733.html">Crne sunđeraste	9733</a>
									<a class="dropdown-item" href="{{root}}proizvodi/obostrano-lepljive-trake/eurographic.html">Eurographic</a>
								</div>
						</div>
						<div class="nav-item"><a class="nav-link text-dark" href="">Fifth</a></div>
						<div class="nav-item"><a class="nav-link text-dark" href="">Sixth</a></div>
					</div>
				</div>
				<div>
					<p class="mb-3"><a class="transparent-invert-link" href=""><img src="./assets/glyphs/instagram-small.svg"
								width="16" /></a><a class="transparent-invert-link ml-2" href=""><img
								src="./assets/glyphs/facebook-small.svg" width="16" /></a><a class="transparent-invert-link ml-2"
							href=""><img src="./assets/glyphs/twitter-small.svg" width="16" /></a><a
							class="transparent-invert-link ml-2" href=""><img src="./assets/glyphs/pinterest-small.svg"
								width="16" /></a><a class="transparent-invert-link ml-2" href=""><img
								src="./assets/glyphs/thumbler-small.svg" width="16" /></a></p>
					<p class="small mb-0"><span class="d-block d-xl-inline text-muted mb-1 mb-xl-0 mr-2">&copy; 2019 Acme. All right
							reserved.</span><a class="text-muted mr-2" href=""><span>Privacy Policy</span></a><a class="text-muted"
							href=""><span>Terms of Service</span></a></p>
				</div>
			</div>
			<div class="navbar-right-content weight-700"><a class="navbar-right-close mb-4" href=""
					data-id="headers-2-sidebar-close"><img src="./assets/glyphs/close.svg" width="32" /></a></div>
		</div>
		<!--HEADER - end-->