<!DOCTYPE html>
<html lang="sr">

<head>
	<title>Prodaja, proizvodnja i distribucija lepljivih traka - Korac R</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
	<meta name="keywords"
				content="stampane trake, lepljive trake, obostrano lepljive trake, trake za teske terete, selotejp trake, antiklizne trake, sos trake, samolepljive trake">
	<meta name="rights" content="Korac R DOO">
	<meta name="description"
				content="Stampane trake i obostrano lepljive trake kao i antiklizne trake i trake za teske terete su deo asortimana firme Korac R DOO">

	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
          'gtm.start':
              new Date().getTime(), event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-W5M6V38');</script>
	<!-- End Google Tag Manager -->

	<link rel="stylesheet" href="{{root}}css/main.css"/>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
					integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="{{root}}js/bootstrap.bundle.min.js"></script>

</head>

<body>

<!-- Google Tag Manager (noscript) -->
<noscript>
	<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W5M6V38"
					height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="wrapper">
	{{> headerDark}}

	{{> body}}

	{{> footer}}
</div>
<script src="{{root}}js/main.js"></script>
</body>

</html>
